{{>header}}
{{>navbar}}

<link rel="stylesheet" href="/css/sign.css">

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center text-dark mt-5">Login Form</h2>
            <div class="card my-5">
                <form id="login" class="card-body cardbody-color p-lg-5">

                    <div class="text-center">
                        <img src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                             width="200px" alt="profile">
                    </div>

                    <div class="alert alert-danger" style="display: none" id="alert"></div>
                    <div class="alert alert-success" style="display: none" id="alert-s"></div>

                    <div class="mb-3">
                        <input type="text" class="form-control" id="username" aria-describedby="emailHelp"
                               placeholder="username" required>
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" id="password" placeholder="password" required>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-color px-5 mb-5 w-100">Login</button>
                    </div>
                    <div id="emailHelp" class="form-text text-center mb-5 text-dark">Not
                        Registered? <a href="/register" class="text-dark fw-bold"> Create an
                            Account</a>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>

<script>
    document.getElementById('login').onsubmit = ev => {
        ev.preventDefault()

        fetch(host + endpoints.auth + '/login', {
            method: 'POST',
            headers: {
                'Content-type': 'application/json'
            },
            body: JSON.stringify({
                username: document.getElementById('username').value,
                password: document.getElementById('password').value
            })
        }).then(r => r.json())
        .then(data => {
            if(data.error) {
                setTimeout(() => {
                    document.getElementById('alert').style.display = 'none'
                }, 5000)
                document.getElementById('alert').style.display = 'block'
                document.getElementById('alert').innerText = data.error
            } else {
                setTimeout(() => {
                    document.getElementById('alert').style.display = 'none'
                    localStorage.setItem('token', data.token)
                    window.location.href = '/'
                }, 1000)
                document.getElementById('alert-s').style.display = 'block'
                document.getElementById('alert-s').innerText = 'Success'

            }
        })
    }
</script>

{{>footer}}