{{>header}}
{{>navbar}}

<div class="container mt-5">
    <h1>All posts</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Text content</th>
            <th scope="col">Media</th>
            <th scope="col">Created at</th>
            <th scope="col">Go</th>
        </tr>
        </thead>
        <tbody id="tbody">

        </tbody>
    </table>
</div>


<script>
    fetch(host + endpoints.post + '/posts/read', {
        method: 'get',
        headers: {
            'content-type': 'application/json'
        }
    }).then(r => r.json())
    .then(posts => {
        const tbody = document.getElementById('tbody')

        posts.map((post, idx) => {
            const tr = document.createElement('tr')
            tr.innerHTML = `
            <th scope="row">${idx + 1}</th>
            <td colspan="1">${post.title}</td>
            <td>${post.textContent.slice(0, 50)}...</td>
            <td><a href="/media/${post.mediaContent}">Media</a></td>
            <td>${post.createdAt.split('T')[0]}</td>
            <td><a class="btn btn-success" href="/post/${post._id}">Go to post</a></td>
            `
            tbody.append(tr)
        })
    })
</script>

{{>footer}}