{{>header}}
{{>navbar}}

<div class="container mt-5">
    <h1>Card</h1>
    <div class="card" style="width: 40rem;">
<!--        <div class="card-body">-->
<!--            <h5 class="card-title">Card title</h5>-->
<!--            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
<!--            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--            <a href="#" class="card-link">Card link</a>-->
<!--            <a href="#" class="card-link">Another link</a>-->
<!--        </div>-->
    </div>
</div>

<script>
    const id = window.location.href.split('post/')[1]

    fetch(host + endpoints.post + '/' + id, {
        method: 'get',
        headers: {
            'Content-Type': 'application/json'
        }
    }).then(r => r.json())
    .then(post => {
        if(!post.error) {
            const card = document.querySelector('.card')
            const div = document.createElement('div')
            div.className = 'card-body'
            div.innerHTML = `
            <h5 class="card-title">${post.title}</h5>
            <p class="card-text">${post.textContent}</p>
            <p class="card-link">${post.createdAt.split('T')[0]} ${post.createdAt.split('T')[1].split('.')[0]}</p>
            <a href="/media/${post.mediaContent}" class="card-link">Media</a>
            `
            card.append(div)
        }
    })
    .catch(err => {})
</script>

{{>footer}}